<a href="https://colab.research.google.com/github/durgabhavani04/FMML-LAB-1/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#1.
print("Twinkle, twinkle, little star, \n\tHow I wonder what you are! \n\t\tUp above the world so high, \n\t\tLike a diamond in the sky. \nTwinkle, twinkle, little star,\n\tHow I wonder what you are")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are

In [1]:
!python --version

Python 3.10.12

In [2]:
#3.
from datetime import datetime
now=datetime.now()
print(now)

2023-10-02 16:10:23.448744

In [ ]:
radius = float(input("Enter the radius of the circle: "))


pi = 3.14159
area = pi * (radius ** 2)


print(f"The area of the circle with radius {radius} is {area}")

Enter the radius of the circle: 78
The area of the circle with radius 78.0 is 19113.433559999998

In [ ]:
#5.
first_name=input("First name:")
last_name=input("Last name:")
print(last_name+" "+first_name)

First name:Janu
Last name:Chitturi
Chitturi Janu

In [ ]:
#6.
a='3','5','7','23'
print(list(a))
print(tuple(a))

['3', '5', '7', '23']
('3', '5', '7', '23')